In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('inmuebles2.csv')
data.head(2)

,0,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,1,01/01/2004 00:00,Parking,Alquiler,Lleida,291.0,2133903.0,19/06/2004 00:00,Carmen
1,2,2,01/01/2004 00:00,Local,Venta,Girona,185.0,1945424.0,19/04/2004 00:00,Pedro

In [14]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [6]:
data2=data.copy()
data2.head(2)

,0,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,1,01/01/2004 00:00,Parking,Alquiler,Lleida,291.0,2133903.0,19/06/2004 00:00,Carmen
1,2,2,01/01/2004 00:00,Local,Venta,Girona,185.0,1945424.0,19/04/2004 00:00,Pedro

In [16]:
#Eliminamos valores nulos de Superficie
#Sustituir valores nulos con promedio para Superficie
data2["Superficie"]=data2["Superficie"].fillna(round(data["Superficie"].mean(),2))
data2.to_csv("Superficie.csv")

In [17]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      6
Fecha Venta     578
Vendedor        578
dtype: int64

In [16]:
#Eliminamos valores nulos de Precio Venta
#Sustituir valores nulos con media para Precio Venta
data2["Precio Venta"]=data2["Precio Venta"].fillna(round(data["Precio Venta"].median(),2))
data2.to_csv("Precio Venta.csv")

In [17]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [21]:
#Eliminamos valores nulos de Referencia
#Sustituir valores nulos con media para Referencia
data2["Referencia"]=data2["Referencia"].fillna(round(data["Referencia"].median(),2))
data2.to_csv("Referencia.csv")

In [22]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        0
Precio Venta      0
Fecha Venta     578
Vendedor        578
dtype: int64

In [9]:
#Eliminamos valores nulos de Referencia
#Sustituir valores nulos con media para Referencia
data2["Fecha Venta"]=data2["Fecha Venta"].fillna("2030-05-19 00:00:00")
data2.to_csv("Fecha Alta.csv")

In [10]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        2
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta       0
Vendedor        578
dtype: int64

In [11]:
data3=data.copy()

In [12]:
data2["Fecha Alta"]=data2["Fecha Alta"].fillna("2030-05-19 00:00:00")
data2.to_csv("Fecha_Alta.csv")

In [13]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        0
Tipo              2
Operación         1
Provincia         4
Superficie        4
Precio Venta      6
Fecha Venta       0
Vendedor        578
dtype: int64

In [18]:
data2["Tipo"]=data2["Tipo"].fillna(method="ffill")
#data2.to_csv("Tipo.csv")

C:\Users\julis\AppData\Local\Temp\ipykernel_19848\3341616315.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Tipo"]=data2["Tipo"].fillna(method="ffill")

In [19]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        0
Tipo              0
Operación         1
Provincia         4
Superficie        4
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [20]:
data2["Operación"]=data2["Operación"].fillna(method="bfill")

C:\Users\julis\AppData\Local\Temp\ipykernel_19848\3919354644.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Operación"]=data2["Operación"].fillna(method="bfill")

In [21]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        0
Tipo              0
Operación         0
Provincia         4
Superficie        4
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [23]:
data2["Provincia"]=data2["Provincia"].fillna(method="bfill")

C:\Users\julis\AppData\Local\Temp\ipykernel_19848\3571578380.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Provincia"]=data2["Provincia"].fillna(method="bfill")

In [24]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        0
Tipo              0
Operación         0
Provincia         0
Superficie        4
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [25]:
data2["Superficie"]=data2["Superficie"].fillna(method="ffill")

C:\Users\julis\AppData\Local\Temp\ipykernel_19848\3412621650.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Superficie"]=data2["Superficie"].fillna(method="ffill")

In [26]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0                 0
Referencia        0
Fecha Alta        0
Tipo              0
Operación         0
Provincia         0
Superficie        0
Precio Venta      0
Fecha Venta       0
Vendedor        578
dtype: int64

In [27]:
data2["Vendedor"]=data2["Vendedor"].fillna(method="ffill")

C:\Users\julis\AppData\Local\Temp\ipykernel_19848\2515032956.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["Vendedor"]=data2["Vendedor"].fillna(method="ffill")

In [28]:
#Verificamos los valores nulos de las colunas
valores_nulos=data2.isnull().sum()
valores_nulos

0               0
Referencia      0
Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64